.slider .track {
    -fx-background-color: #696c6e;
    -fx-background-radius: 5px;
}

#mainPane{
    -fx-background-color: black;
}

#listView{
    -fx-background-color: #202020;
    -fx-control-inner-background: #202020;
    -fx-background-insets: 0;
    -fx-padding: 2;
}


#volumeMusic .thumb {
    -fx-background-image: url("image/iconSlider.jpg");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-cursor: hand;
}


#volumeMusic:focused .thumb {
    -fx-background-radius: 0;
}

#volumeMusic:hover .thumb {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.labelTimeLine{
    -fx-text-fill: white;
}

.list-cell:filled:hover {
    -fx-cursor: hand;
}

#btnPauseUnpause{
    -fx-min-height: 2px;
    -fx-min-width: 2px;
    -fx-pref-height: 30px;
    -fx-pref-width: 30px;
    -fx-cursor: hand;
    -fx-background-color: white;
    -fx-background-radius: 20;
}

.btnNavigationMusic {
    -fx-min-width: 10px;
    -fx-min-height: 10px;
    -fx-pref-width: 10px;
    -fx-pref-height: 10px;
    -fx-max-width: 10px;
    -fx-max-height: 10px;
    -fx-cursor: hand;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;

}

#btnNextMusic:hover, #btnPreviousMusic:hover,
#btnPauseUnpause:hover, #btnRandomMusic:hover,
#btnRepeatMusic:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#timeLineMusic .thumb {
    -fx-opacity: 0;
}

#timeLineMusic:hover .thumb {
    -fx-cursor: hand;
    -fx-opacity: 1;
    -fx-pref-width: 12;
    -fx-pref-height: 12;
}

#btnFolder {

    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-background-color: #303030;
    -fx-background-radius: 10px;
    -fx-text-fill: f5f5f5;
}

#btnFolder:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, snow, 5, 0, 0, 0 );
}

.scroll-bar:vertical, .scroll-bar:horizontal {
    -fx-background-color: #2b2b2b;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

.scroll-bar .thumb {
    -fx-background-color: #404040;
    -fx-background-radius: 10px;
}

.scroll-pane .corner,
.list-view .corner,
.table-view .corner {
    -fx-background-color: #2b2b2b;
    -fx-background-radius: 10px;
}


.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

#fieldSearch {
    -fx-text-fill: #800080;
    -fx-background-color: #2b2b2b;
    -fx-prompt-text-fill: white;
}

#fieldSearch:focused {
    -fx-border-color: #4b4b4b;
}
